# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

test.py
test.log
debug
*.venv
tests/credentials.json
*.egg-info
__pycache__
NEW FEATURES.md